<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="width: 400px;">
        <div class="card-body">

          <h5 class="card-title text-center">Avialable Seats In The Coach</h5>
          <br>
          <p class="card-text">All passenger still waiting book fast and the all passenger enjoy the jounery</p>
          <a class="card-link">{{data2}}</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card" style="width: 550px;">
        <div class="card-body">

          <h5 class="card-title text-center">Booked Seats</h5>
          <br>
          <!-- row 1 -->
          <div class="row">
            <div class="col-md-12">
              <span>Row 1</span>
            <button class="bg-success" style="margin-left: 18px;">1</button>
            <button class="bg-success">2</button>
            <button class="bg-success">3</button>
            <button class="bg-success">4</button>
            <button class="bg-success">5</button>
            <button class="bg-success">6</button>
            <button class="bg-success">7</button>
            </div>
          </div>

          <!-- row 2 -->
          <div class="row">
            <div class="col-md-12">
            <span>Row 2</span>
            <button class="bg-success" style="margin-left: 18px;">8</button>
            <button class="bg-success">9</button>
            <button class="bg-success">10</button>
            <button class="bg-success">11</button>
            <button class="bg-success">12</button>
            <button class="bg-success">13</button>
            <button class="bg-success">14</button>
            </div>
          </div>

          <!-- row 3 -->
          <div class="row">
            <div class="col-md-12">
            <span>Row 3</span>
            <button class="bg-success" style="margin-left: 18px;">15</button>
            <button class="bg-success">16</button>
            <button class="bg-success">17</button>
            <button class="bg-success">18</button>
            <button class="bg-success">19</button>
            <button class="bg-success">20</button>
            <button class="bg-success">21</button>
            </div>
          </div>

          <!-- row 4 -->
          <div class="row">
            <div class="col-md-12">
            <span>Row 4</span>
            <button class="bg-success" style="margin-left: 18px;">22</button>
            <button class="bg-success">23</button>
            <button class="bg-success">24</button>
            <button class="bg-success">25</button>
            <button class="bg-success">26</button>
            <button class="bg-success">27</button>
            <button class="bg-success">28</button>
            </div>
          </div>

           <!-- row 5 -->
           <div class="row">
            <div class="col-md-12">
            <span>Row 5</span>
            <button class="bg-success" style="margin-left: 18px;">29</button>
            <button class="bg-success">30</button>
            <button class="bg-success">31</button>
            <button class="bg-success">32</button>
            <button class="bg-success">33</button>
            <button class="bg-success">34</button>
            <button class="bg-success">35</button>
            </div>
          </div>


           <!-- row 6 -->
           <div class="row">
            <div class="col-md-12">
            <span>Row 6</span>
            <button class="bg-success" style="margin-left: 18px;">36</button>
            <button class="bg-success">37</button>
            <button class="bg-success">38</button>
            <button class="bg-success">39</button>
            <button class="bg-success">40</button>
            <button class="bg-success">41</button>
            <button class="bg-success">42</button>
            </div>
          </div>


           <!-- row 7 -->
          <div class="row">
            <div class="col-md-12">
            <span>Row 7</span>
            <button class="bg-success" style="margin-left: 18px;" >43</button>
            <button class="bg-success">44</button>
            <button class="bg-success">45</button>
            <button class="bg-success">46</button>
            <button class="bg-success">47</button>
            <button class="bg-success">48</button>
            <button class="bg-success">49</button>
            </div>
          </div>


          <!-- row 8 -->
          <div class="row">
            <div class="col-md-12">
            <span>Row 8</span>
            <button class="bg-success" style="margin-left: 18px;">50</button>
            <button class="bg-success">51</button>
            <button class="bg-success">52</button>
            <button class="bg-success">53</button>
            <button class="bg-success">54</button>
            <button class="bg-success">55</button>
            <button class="bg-success">56</button>
            </div>
          </div>


           <!-- row 9 -->
          <div class="row">
            <div class="col-md-12">
            <span>Row 9</span>
            <button class="bg-success" style="margin-left: 18px;">57</button>
            <button class="bg-success">58</button>
            <button class="bg-success">59</button>
            <button class="bg-success">60</button>
            <button class="bg-success">61</button>
            <button class="bg-success">62</button>
            <button class="bg-success">63</button>
            </div>
          </div>

          <!-- row 10 -->
          <div class="row">
            <div class="col-md-12">
            <span>Row 10</span>
            <button class="bg-success">64</button>
            <button class="bg-success">65</button>
            <button class="bg-success">66</button>
            <button class="bg-success">67</button>
            <button class="bg-success">68</button>
            <button class="bg-success">69</button>
            <button class="bg-success">70</button>
            </div>
          </div>

          <!-- row 11 -->
          <div class="row">
            <div class="col-md-12">
            <span>Row 11</span>
            <button class="bg-success">71</button>
            <button class="bg-success">72</button>
            <button class="bg-success">73</button>
            <button class="bg-success">74</button>
            <button class="bg-success">75</button>
            <button class="bg-success">76</button>
            <button class="bg-success">77</button>
            </div>
          </div>

          <!-- row 12 -->
          <div class="row">
            <div class="col-md-12">
            <span>Row 12</span>
            <button class="bg-success">78</button>
            <button class="bg-success">79</button>
            <button class="bg-success">80</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card c1">
        <div class="card-body">

          <h5 class="card-title text-center">Number of seats passenger can booked</h5>
          <br>
          <form [formGroup]="form" (ngSubmit)="seat1()">
          <select required formControlName="seats"  class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
            <option value="6">Six</option>
            <option value="7">Seven</option>
          </select>
          <br>

          <button type="submit" [disabled]="" class="bg-info text-white" style="width: 100px; height: 38px; border-radius: 10px; border: none;">Book Seat</button>
        </form>
        </div>
      </div>
    </div>


    </div>
  </div>
